A, .msglink, .msgunmod {color: #5e486f; text-decoration: none;}
.menu, .bmenu {color: #5e486f; text-decoration: none; font: small-caps bold x-small verdana; background: #886c50; color: #f0fff0; padding: 0px 1px 1px; margin: 0px 1px;}
.sbutton, .r {color: #5e486f; text-decoration: none; font: small-caps bold xx-small verdana; background: #886c50; color: #f0fff0; padding: 0px 1px 1px 1px; margin: 0px 1px;}
.submit {text-decoration: none; font: small-caps bold xx-small verdana; background: #886c50; color: #f0fff0; padding: 0px 1px 1px 1px; margin: 0px 1px; border: thin outset;}
.submit:hover {text-decoration: none; font: small-caps bold xx-small verdana; background: #886c50; color: yellow; padding: 0px 1px 1px 1px; margin: 0px 1px; border: thin inset;}
.block {text-decoration: none; font: x-small tahoma, sans-serif; color: white;}
.blockhead {text-decoration: none; font: x-small tahoma, sans-serif; color: white; font-weight: 700;}
tr.bgcolor0 {background-color: #e4ddc2 }
tr.bgcolor1 {background-color: #f4f0dc }
p, td {font: x-small  tahoma, sans-serif; color: #302080;}
.sml {font: xx-small tahoma, sans-serif;}
.help {font: italic x-small times, serif;}
.block, .blocka {font: x-small tahoma, sans-serif; color: white;}
.blockhead {font: x-small tahoma, sans-serif; font-weight: 700; color: white;}
.msgtitle {font: bold x-small verdana, sans-serif; font-weight: 700; color: white; background: #876640; margin: 6px 0px 0px 0px;}
.msginfo {font: xx-small verdana, sans-serif; margin: 0; text-align: right; color: #5e486f;}
.msginfmod {font: xx-small verdana, sans-serif; margin: 0; text-align: right;}
.mand {font: bold x-small tahoma, sans-serif; background: #ccbea1;}
.smb {font: bold x-small tahoma, sans-serif;}
.menu {font: x-small tahoma, sans-serif; color: #5e486f; background: #ffffff;} 
blockquote {font: italic x-small  times new roman, times, serif; color: #5e486f;} 
input.sml, select.sml {font: xx-small tahoma, sans-serif;} 
h1, th {font: bold 18px/20px tahoma, sans-serif; color: #5e486f; vertical-align: top}
h2, th.h2 {font: normal small tahoma, sans-serif; color: #5e486f;}
h3, th.h3, th.cols, th.rows {font: bold x-small tahoma, sans-serif; color: #5e486f; margin: 6px 0px 0px 0px;}
.error {font: bold small tahoma, sans-serif; color: red; background: white; padding: 10px; margin: 20px;}

